<html>
<head>
<title>HTPC - Main</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<p><a href="/vnc">Start VNC</a></p>
<p><a href="/netflix">Netflix Controls</a></p>
<p><a href="/vlc">VLC controls</a></p>
<p><a href="/shutdown">Shut Down</a></p>
<script type="text/javascript">
$('a[href="/shutdown"]').click(function (event) {
    event.preventDefault();
    //console.log(this);
    $.post($(this).attr('href'));
});
</script>
</body>
</html>
